<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess it</title>
</head>
<body>
    <h1>GUESS THAT NUMBERRRRRRRRR!</h1>
    <p>I am thinking of a number 1 - 100</p>
    <form action='/guessnumber' method='post'>
        <label for='guessnumber'>Guess A Number!</label>
        <input type='number' name='guessnumber'>
        <input type='submit' value='submit'>
    </form>

</body>
</html>